<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- TODO: Remove local-sdk source once SDK v0.7.0-preview.1 is published to nuget.org -->
    <add key="local-sdk" value="Q:\dobby\repos\Connectors-NET-SDK-issue-58\out\pkg\local" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
